<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adivina un numero Info</title>
    <style>
        h1{
            color: orange;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 th:text="${texto_titulo}">nada</h1>
    <div th:if="${usuarios != null}">
        <p th:each="usuario: ${usuarios}" th:text="${usuario.value}"></p>
    </div>
    <p th:if="${usuarios == null}" th:text="${no_hay_usuarios}"></p>
</body>
</html>